<app-navbar></app-navbar>
<table class="tabla-locaciones" *ngIf="capitulos">
  <thead>
    <tr>
      <th>Nombre capitulo</th>
      <th>Episodio</th>  
      <th>Detalles</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let capitulo of capitulos.results | paginate: { itemsPerPage: 15, currentPage: p }; let i = index">
      <td>{{ capitulo.name }}</td>
      <td>{{ capitulo.episode }}</td>
      <td>Fecha capitulo: {{ capitulo.air_date }} - Url capitul: {{ capitulo.url }}</td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
