.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin-left: auto;
}

.caja {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.caja img {
  width: 100%;
  height: auto;
}

.contenido-caja {
  padding: 15px;
}

.contenido-caja h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.contenido-caja .datos {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 0.9em;
}
